# Mac specific files
.DS_Store

# gradle specific files
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IDEA specific project metainfo
.idea
*.iml
*.ipr
*.iws

# Eclipse specific project metainfo
.settings
.project
.classpath
